@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

body{
	font-family: 'Lato';
	background-color: rgb(213, 204, 175);
	font-size: 40px;
	font-weight: 700;
	padding: 20px;
	position: relative;
}

.container{
	position: absolute;
	width: 100%;
}
.tank-img{
	height: 120px;
	width: 100px;
	animation: tank 2s linear infinite 0s;
}
@keyframes tank {
	0%
	{
		transform: translateY(-200%);
	}
	100%
	{
		transform: translateY(1200%);
	}
}
